* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Overpass', sans-serif;
    font-style: normal;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;    
    min-height: 100vh; 
    background-color: hsl(216, 12%, 8%);
    margin: 0;
}

h1 {
   color: hsl(0, 0%, 100%); 
   margin-bottom: 30px;
}

.icon-star {
    border-radius: 40%;
    background-color: hsl(213, 19%, 18%);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: :left;
    margin-bottom: 30px; 
}      

.card {
    background-color: hsl(213, 19%, 18%);
    text-align: left;
    margin: 20px auto;
    padding: 25px;
    border-radius: 15px;
    display: block;
}

.num-link {
    background-color: #262e38;
    color: hsl(217, 12%, 63%);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: :center;
    margin-bottom: 10px; 
}

.text {
    color: hsl(217, 12%, 63%);
    margin-bottom: 20px;
}

.fondo-estrella {
    background-color: hsla(217, 12%, 63%, 0.1); 
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    border: 1px solid black;
}

.rating-nav {
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
}


.submit-btn {
    background-color: hsl(25, 97%, 53%);
    color: hsl(217, 12%, 63%);
    padding: 12px;
    border-radius: 25px; 
    border: none;
}


.boton-num:hover {
  background-color: Orange: hsl(25, 97%, 53%); 
  color: White: hsl(25, 97%, 53%);
  border-radius: 4px;
}

