* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(216, 12%, 8%); /* Very Dark Blue */
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* La tarjeta principal */
main {
    background-color: hsl(213, 19%, 18%); /* Dark Blue */
    width: 350px;
    padding: 25px;
    border-radius: 20px;
}

/* Ocultamos la de gracias de inicio */
#thanks {
    display: none;
    text-align: center;
}

/* Textos */
h1, h2 { color: white; margin-bottom: 15px; }
p { color: hsl(217, 12%, 63%); line-height: 1.5; margin-bottom: 20px; }

/* Los números (Círculos) */
fieldset {
    border: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

input[type="radio"] { display: none; } /* Escondemos el radio */

label {
    width: 45px;
    height: 45px;
    background-color: hsl(213, 19%, 18%);
    color: hsl(217, 12%, 63%);
    border: 1px solid black; 
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* Al pasar el ratón por los números */
label:hover {
    background-color: hsl(25, 97%, 53%);
    color: white;
}

/* Color para el número cuando lo pinchas */
.numero-marcado {
    background-color: hsl(217, 12%, 63%); 
    color: hsl(0, 0%, 100%); 
    border: none;            
}

/* El botón de enviar */
button {
    background-color: hsl(25, 97%, 53%); 
    color: hsl(0, 0%, 100%);             
    border: none;
    padding: 12px;
    border-radius: 25px;
    font-weight: 700;
    cursor: pointer;
    width: 100%;
}

/* El hover del botón (se pone blanco al pasar el ratón) */
button:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
}

/* La chapita de selección en la vista 2 */
.rating {
    background-color: #262e38;
    color: hsl(25, 97%, 53%);
    padding: 5px 15px;
    border-radius: 20px;
    display: inline-block;
    margin-bottom: 20px;
}
.hidden {
    display: none !important;
}
